name: Scrape Data
on:
    workflow_dispatch:
    schedule:
        - cron: "0 * */1 * *"
env:
    CONF: "whois.conf"
    THRESHOLD: 1000
jobs:
    scrape:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-python@v6
              with:
                python-version: '3.13'
                cache: 'pip'
            - name: Run scraper
              run: python scrape_iana.py
#            - name: Commit changes
#              if: ${{ success() }}
#              uses: EndBug/add-and-commit@v9
#              with:
#                  add: "${{ env.CONF }}"
#                  pull: "--rebase --autostash ."
#                  message: "chore(generated): update generated csv automatically"
#                  default_author: github_actions
            - name: Upload artifact
              uses: actions/upload-artifact@v5
              with:
                  path: $CONF
